.date-picker-popup .calendar-grid {
    -fx-pref-width: 220.0;
    -fx-pref-height: 180.0;
}
.date-picker-popup .spinner-label {
    -fx-font-size: 14.0;
}

.center .text-field {
    -fx-alignment: CENTER;
}
