.root {
    -fx-background-color: #ffffff;
}

*.button-bar > *.container {
    -fx-background-color: #ffffff;
}

*.label.content {
    -fx-font-weight: bold;
}

*.header-panel {
    -fx-background-color: #ffffff;
}

*.header-panel *.label {
    -fx-font-style: italic;
    -fx-fill: #292929;
}


.sky-accent .button {
    -fx-background-color: #4399d3;
    -fx-text-fill: #ffffff;
}

.sky-accent .button:pressed {
    -fx-background-color: derive(#4399d3,40%);
}

.dawn-accent .button {
    -fx-background-color: #6653BA;
    -fx-text-fill: #ffffff;
}

.dawn-accent .button:pressed {
    -fx-background-color: derive(#6653BA,40%);
}

.rose-accent .button {
    -fx-background-color: #D6525B;
    -fx-text-fill: #ffffff;
}

.rose-accent .button:pressed {
    -fx-background-color: derive(#D6525B,40%);
}

.sun-accent .button {
    -fx-background-color: #F5C971;
    -fx-text-fill: #ffffff;
}


.sun-accent .button:pressed {
    -fx-background-color: derive(#F5C971,40%);
}


.earth-accent .button {
    -fx-background-color: #53A357;
    -fx-text-fill: #ffffff;
}

.earth-accent .button:pressed {
    -fx-background-color: derive(#53A357,40%);
}

.error-indicator {
    -fx-border-color: rgba(255,155,153,0.76);
    -fx-border-width: 2.5;
}


