.root {
    -fx-background-color: rgba(109,109,109,0.51)
}


.button {
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}



.white-background {
    -fx-background-color: white;
}



.text-type-bold {
    -fx-font-weight: bold;
}

.label-alignment-right {
    -fx-alignment: center-right;
    -fx-pref-width: 175;
}

.accent-event-label {
    -fx-background-color: #4399d3;
    -fx-text-fill: #ffffff;
}

.accent-event .button {
    -fx-background-color: #4399d3;
    -fx-text-fill: #ffffff;
}

.accent-event .button:pressed {
    -fx-background-color: derive(#4399d3, 20%);
}

.accent-event .date-picker .button {
    -fx-bakcground-color: transparent;
}

.accent-candidate-label {
    -fx-background-color: #6653BA;
    -fx-text-fill: #FFFFFF;
}

.accent-candidate .button{
    -fx-background-color: #6653BA;
    -fx-text-fill: #FFFFFF;
}


.accent-candidatet .button:pressed {
    -fx-background-color: derive(#4399d3, 20%);
}
.accent-label-judge {
    -fx-background-color:#D6525B;
    -fx-text-fill: #FFFFFF;
}


.text-field {
    -fx-border-color: #B8B8B8;
    -fx-effect: null;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.date-picker {
    -fx-background: #FFFFFF;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-border-insets: 0;
    -fx-background-insets: 0;

}

.date-picker .text-field {
    -fx-alignment:center;
}

.date-picker .button {
    -fx-bakcground-color: transparent;
}

.combo-box {
    -fx-background-color:#ffffff;
    -fx-border-color: #B8B8B8;
    -fx-border-radius: 5;
}



.combo-box .scroll-bar:vertical,
.combo-box .scroll-bar:vertical .track-background,
.combo-box .scroll-bar:horizontal,
.combo-box .scroll-bar:horizontal .track-background{
    -fx-background-color: transparent;
}

.combo-box .scroll-bar:vertical .track {
    visibility: hidden;
}

.combo-box .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    visibility: hidden;
}


/* The increment and decrement button CSS class of scrollbar */
.combo-box .scroll-bar:horizontal .increment-button ,
.combo-box .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.combo-box .scroll-bar:vertical .increment-button ,
.combo-box .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.combo-box  .scroll-bar .increment-arrow,
.combo-box  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.combo-box .corner {
    -fx-background-color: transparent;
}

.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#4399d3,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.combo-box:pressed .scroll-bar:vertical .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.combo-box:hover .scroll-bar:vertical .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }





.error-indicator {
    -fx-border-color: rgba(255,155,153,0.76);
    -fx-border-width: 2.5;
}
