
.about {
    -fx-text-fill: #9d0b0b;
}

.about:hover{
    -fx-font-weight: bold;
    -fx-text-fill: #9d0b0b;
}


.divider {
    -fx-text-fill: #9d0b0b;
}
.login-button {
    -fx-background-color: #9d0b0b;
    -fx-text-fill: #FFFFFF;
}

.password-field {
    -fx-alignment: center;
}

.text-field:focused {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
    -fx-focus-color: #cccccc;
    -fx-faint-focus-color: -fx-control-inner-background;

}

.text-field {
    -fx-border-color: #cccccc;
    -fx-effect: null;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}