
.text-bold {
    -fx-font-weight: bold;
}

/*-----styles summary------*/
.label-summary {
    -fx-background-color: #D69B24;
    -fx-text-fill: #ffffff;
}


/*------styles event------*/
.label-event-properties {
    -fx-background-color: #4399d3;
    -fx-text-fill: #FFFFFF;
}
.button-event-properties:disabled {
    -fx-background-color: derive(#4399d3,30%);
}


/* -----styles segment-----*/
.label-segment {
    -fx-background-color: #53A357;
    -fx-text-fill: #FFFFFF;
}

.button-segment {
    -fx-background-color: #53A357;
    -fx-text-fill: #FFFFFF;
}

.button-segment:disabled {
    -fx-background-color: derive(#53A357,30%);
}

/* -----styles judge-----*/
.label-judge {
    -fx-background-color:#D6525B;
    -fx-text-fill: #FFFFFF;
}

.button-judge {
    -fx-background-color:#D6525B;
    -fx-text-fill: #FFFFFF;
}


.button-judge:disabled {
    -fx-background-color:derive(#D6525B,30%);
}

/* -----styles candidate----- */
.label-candidate {
    -fx-background-color: #6653BA;
    -fx-text-fill: #FFFFFF;
}

.button-candidate {
    -fx-background-color: #6653BA;
    -fx-text-fill: #FFFFFF;
}
.button-candidate:disabled {
    -fx-background-color: derive(#6653BA,30%);
}   

.button-event-properties {
    -fx-background-color: #4399d3;
    -fx-text-fill: #FFFFFF;
}



.button {
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.button:pressed {
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-border-insets: -2 -2 -2 -2;
}

.text-field {
    -fx-border-color: #B8B8B8;
    -fx-effect: null;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.segment-criteria {
	-fx-background-color: #77C5B4;
}

/* -----backround colors----- */

.background-gray {
    -fx-background-color: rgba(109,109,109,0.51)
}
.white-background {
    -fx-background-color:  #FFFFFF;
}

.event-selection-background {
    -fx-background-color: #AACAEB;
}

.judge-selection-background {
    -fx-background-color: #EE99B2;
}

.candidate-selection-background {
    -fx-background-color: #C48BD6;
}

.segment-selection-background {
    -fx-background-color: #AEFFB3;
}

.summary-background {
    -fx-background-color: #F5C971;
}

.selection {
    -fx-border-color: #4399d3;
    -fx-border-width: 2;
    -fx-background-color: black
}


/* ------custom components------- */


.list-view {
    -fx-background: #FFFFFF;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.list-view .scroll-bar:vertical,
.list-view .scroll-bar:vertical .track-background,
.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal .track-background{
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .track {
    visibility: hidden;
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    visibility: hidden;
}


/* The increment and decrement button CSS class of scrollbar */
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.list-view .corner {
    -fx-background-color: transparent;
}


.event-list-view .scroll-bar:horizontal .thumb,
.event-list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#4399d3,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.event-list-view:pressed .scroll-bar:horizontal .thumb,
.event-list-view:pressed .scroll-bar:vertical .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.event-list-view:hover .scroll-bar:vertical .thumb,
.event-list-view:hover .scroll-bar:horizontal .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }


.event-list-view  .list-cell:filled:focused:selected {
    -fx-background-color: #4399d3;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.event-list-view .list-cell:filled:hover {
    -fx-background-color: derive(#4399d3,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.event-list-view .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: #4399d3;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.candidate-list-view .scroll-bar:horizontal .thumb,
.candidate-list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#6653BA,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.candidate-list-view:pressed .scroll-bar:horizontal .thumb,
.candidate-list-view:pressed .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#6653BA,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.candidate-list-view:hover .scroll-bar:vertical .thumb, 
.candidate-list-view:hover .scroll-bar:horizontal .thumb {
    -fx-background-color:derive(#6653BA,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.candidate-list-view  .list-cell:filled:focused:selected {
    -fx-background-color: #6653BA;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.candidate-list-view .list-cell:filled:hover {
    -fx-background-color: derive(#6653BA,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.candidate-list-view .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: #6653BA;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.judge-list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#D6525B,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.judge-list-view:pressed .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#D6525B,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.judge-list-view:hover .scroll-bar:vertical .thumb, 
.judge-list-view:hover .scroll-bar:horizontal .thumb {
    -fx-background-color:derive(#D6525B,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.judge-list-view  .list-cell:filled:focused:selected {
    -fx-background-color: #D6525B;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.judge-list-view .list-cell:filled:hover {
    -fx-background-color: derive(#D6525B,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.judge-list-view .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: #D6525B;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.segment-list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.segment-list-view:pressed .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.segment-list-view:hover .scroll-bar:vertical .thumb, 
.segment-list-view:hover .scroll-bar:horizontal .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.segment-list-view  .list-cell:filled:focused:selected {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.segment-list-view .list-cell:filled:hover {
    -fx-background-color: derive(#53A357,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.segment-list-view .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

/* ------ Segment TextFields ------*/

.table-view {
    -fx-background: #FFFFFF;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.table-view .scroll-bar:vertical,
.table-view .scroll-bar:vertical .track-background,
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:horizontal .track-background{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .track {
    visibility: hidden;
}


/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:horizontal .increment-button ,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.table-view .scroll-bar:vertical .increment-button ,
.table-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.table-view  .scroll-bar .increment-arrow,
.table-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.table-view:pressed .scroll-bar:horizontal .thumb,
.table-view:pressed .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view:hover .scroll-bar:horizontal .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.table-view:hover .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}



.table-view {
    /*-fx-base: #53A357;*/
    -fx-control-inner-background: #FFFFFF;
    /*-fx-table-cell-border-color: #53A357;*/
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #53A357;
    -fx-border-color:  derive(-fx-base, 80%);
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.table-row-cell:filled:hover {
    -fx-background-color: derive(#53A357,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.table-row-cell:filled:selected {
    -fx-background-color: #53A357;
    -fx-table-cell-border-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}


