
.background-black {
    -fx-background-color: rgba(0,120,221,0.4);
}

.background-white {
    -fx-background-color: #FFFFFF;
}


.background-blue {
    -fx-background-color: #4399d3;
}

.label-header {
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
}

.text-bold-black {
    -fx-font-weight: bold;
    -fx-font-size: 20
}

.text-field {
    -fx-border-color: #cccccc;
    -fx-effect: null;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

.button {
    -fx-background-color: #4399d3;
    -fx-text-fill: #FFFFFF;
}



.scroll-pane {
    -fx-background: #FFFFFF;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track-background,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal .track-background{
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    visibility: hidden;
}


/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .scroll-bar:horizontal .increment-button ,
.scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-pane  .scroll-bar .increment-arrow,
.scroll-pane  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#4399d3,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.scroll-pane:pressed .scroll-bar:horizontal .thumb,
.scroll-pane:pressed .scroll-bar:vertical .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-pane:hover .scroll-bar:horizontal .thumb {
     -fx-background-color:derive(#4399d3,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.scroll-pane:hover .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#4399d3,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.error-indicator {
    -fx-border-color: rgba(255,155,153,0.76);
    -fx-border-width: 2.5;
}

.label-password-mismatch {
    -fx-text-fill: #ff7d8f;
}


.


