
.table-view {
    -fx-background: #FFFFFF;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.table-view .scroll-bar:vertical,
.table-view .scroll-bar:vertical .track-background,
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:horizontal .track-background{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .track {
    visibility: hidden;
}


/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:horizontal .increment-button ,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.table-view .scroll-bar:vertical .increment-button ,
.table-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.table-view  .scroll-bar .increment-arrow,
.table-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.table-view:pressed .scroll-bar:horizontal .thumb,
.table-view:pressed .scroll-bar:vertical .thumb {
     -fx-background-color:derive(#53A357,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view:hover .scroll-bar:horizontal .thumb {
     -fx-background-color:derive(#53A357,10%);
     -fx-background-insets: 2, 0, 0;
     -fx-background-radius: 2em;

 }

.table-view:hover .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#53A357,10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}



.table-view {
   -fx-base: #53A357;
    -fx-control-inner-background: #FFFFFF;
    -fx-table-cell-border-color: #53A357;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #53A357;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.table-row-cell:filled:hover {
    -fx-background-color: derive(#53A357,95%);
    -fx-text-fill: -fx-text-inner-color;
}

.table-row-cell:filled:selected {
    -fx-border-color: #53A357;
}

.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: #53A357;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}
