
.center .text-field {
 -fx-alignment : CENTER;
}

.text-field {
    -fx-prompt-text-fill: #B90F2B;
    -fx-min-height: 12;
    -fx-pref-height:20;
    -fx-font-size: 13px;
}

.password-field {
    -fx-pref-height:20;
    -fx-font-size: 14px;
}

.jfx-radio-button {
    -jfx-selected-color: #B90F2B;
    -jfx-unselected-color: #B90F2B;
    -fx-font-size: 13px;
}