
.combo-box  .list-cell:filled:focused:selected {
    -fx-background-color: #B90F2B;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



.combo-box .list-cell:filled:hover {
    -fx-background-color: derive(#B90F2B,95%);
    -fx-text-fill: -fx-text-inner-color;
}